[Unit]
Description=jbond

[Service]
Type=idle
User=root
Group=root

ExecStart=/usr/bin/python3 /opt/jbond/src/main.py
ExecStop=/bin/kill -s SIGINT $MAINPID
TimeoutSec=30
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
